# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.swp

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# ENV file
.env

# Some custom configuration
config/*.toml

# Ignore binaries built
/bin/

# Ignore releases
releases/*.tar.gz
releases/*.zip
releases/sha256sums.txt
