title = "Client TOML config sample"

## GRPC server game url
api_server_url = "localhost:8000"

# Server to locate interactions that are not by gRPC
http_server_url = "localhost:8080"

# Client_certfile TLS connection to GRPC server
client_certfile = "$HOME/.chess/certs/x509/contoso.crt"

# serverNameOverride GRPC server, is for testing only. If set to a non empty string,
# it will override the virtual host name of authority (e.g. :authority header
# field) in requests.
servername_override = "www.fabrikam.com"

# oauth2, by provider, i.e., an authenticated client with github, storing token client user
[oauth2]
  [oauth2.github]
token = "somevalidtoken"

[game]
  color = "WHITE"
  name = "some"
  uuid = "5996c254-b272-11eb-ad74-0242ac120002"
